#p1{
    font-family: Arial, sans-serif;
    color: red;
}
#p2{

    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: green;
}

#p3{

    font-family: Comic sans-serif; 
    font-size: 20px;
    color: blue;
    font-style: italic;
}

#p4{
    color: yellow;
    font-style: bold;
    font-size: 14px;

}